## Python Programming Basic Assignment

1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    s = str(num)
    if s == s[::-1]:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

2. Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [13]:
def multiply_nums(string):
    mul = 1
    l = string.split(",")
    for i in l:
        mul *= int(i) 
    return mul

In [14]:
multiply_nums("2, 3")

6

In [16]:
multiply_nums("1, 2, 3, 4")

24

In [17]:
multiply_nums("54, 75, 453, 0")

0

In [18]:
multiply_nums("10, -2")

-20

3. Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [33]:
def square_digits(num):
    l = []
    s = str(num)
    for i in s:
        i= int(i)
        l.append(str(i*i))
    s = "".join(l)
    num = int(s)
    return num

In [34]:
square_digits(9119)

811181

In [35]:
square_digits(2483)

416649

In [36]:
square_digits(3212)

9414

4. Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [38]:
def setify(lst):
    lst = set(lst)
    lst = list(lst)
    return lst

In [39]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [40]:
setify([4, 4, 4, 4])

[4]

In [41]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [42]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

5. Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [43]:
def mean(num):
    sum = 0
    temp = str(num)
    count = len(temp)
    for i in temp:
        sum+= int(i)
    return (sum/count)

In [45]:
int(mean(42))

3

In [46]:
int(mean(12345))

3

In [48]:
int(mean(666))

6